body {
    background-image: url("http://i1.wp.com/espngrantland.files.wordpress.com/2015/10/sue92.gif");
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.navi li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.navi li a:hover {
    background-color: #555;
    color: white;
}
.dislike {
  height: 100px;
  width: 100px;
}

.like {
  height: 100px;
  width: 100px;
}

.present h3 {
  text-align: left;
  font-color: yellow;
}

.text {
  height: 100px;
  width: 100px;
}