<div id='container'>
  <h3> Home of the jokes </h3>

  <div class='navi'>
    <ul>
      <li><a href='#/'>Home</a></li>
      <li><a href='#/signup'>Sign up</a></li>
      <li><a href='#/signin' class='logout' ng-click="destroytoken()">Logout</a></li>
    </ul>
  </div>

<br>


  <div class='present' ng-controller="HomeController">

    <h3> {{ display }} </h3>
    <br>

    <img class='like' src='assets/like.png' 
    ng-click="like()"/>
    <img class='dislike' src='assets/dislike.png' 
    ng-click="dislike()"/>
    <img class='text' src='assets/text.png' 
    ng-click="sendMessage()"/>
  </div>

</div>