<div id='container'>
  <h3> Home of the jokes </h3>

  <div class='navi'>
    <ul>
      <li><a href='#/'>Home</a></li>
      <li><a href='#/signup'>Sign up</a></li>
      <li><a href='#/signin' class='logout' ng-click="destroytoken()">Logout</a></li>
    </ul>
  </div>

  <p>
  <p>

  <div class='present' ng-controller="HomeController">

    <h2> {{ display }} joke goes here </h2>
    <p>

    <img class='like' src='assets/like.png' 
    ng-click="like()"/>
    <img class='dislike' src='assets/dislike.png' 
    ng-click="dislike()"/>
  </div>

</div>